*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  background: #f5f7f8;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }

.container {
  display: grid;
  grid-template-columns: [sidebar-start] 10rem [sidebar-end] auto;
  grid-template-rows: auto auto;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center; }
  .sidebar ul {
    background: #111;
    border-bottom: 1px solid #222; }
  .sidebar li {
    display: block; }
    .sidebar li .navIcon {
      display: none; }
  .sidebar a {
    background: #111;
    border-bottom: 1px solid #000;
    border-top: 1px solid #222;
    box-shadow: inset -5px 0 0 rgba(0, 0, 0, 0.2), inset 0 20px 0 #161616;
    color: #bbb;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 45px;
    text-align: right;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
    transition: all 300ms; }
    .sidebar a .navIcon {
      display: none; }
  .sidebar a:hover,
  .sidebar a:focus,
  .sidebar li.current a {
    background: #222;
    border-top-color: #3a3a3a;
    box-shadow: inset -5px 0 0 #3a3a3a, inset 0 20px 0 #282828;
    color: #ddd;
    outline: 0;
    padding: 0 30px;
    transition: all 300ms; }
  .sidebar li.current a {
    box-shadow: inset -5px 0 0 #e00, inset 0 20px 0 #282828;
    padding: 0 45px; }
  .sidebar a:active {
    background: #333;
    border-top-color: #666;
    box-shadow: inset -5px 0 0 #666, inset 0 20px 0 #444;
    color: #fff;
    transition: all 50ms; }
  .sidebar li:first-child a {
    border-top: none; }
  @media screen and (max-width: 600px) {
    .sidebar .sidebar ul li:not(:first-child) {
      display: none; }
    .sidebar .sidebar a.icon {
      float: right;
      display: block; } }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      grid-column: 1/-1;
      grid-row: 1/2;
      height: 6rem;
      overflow: hidden; }
      .sidebar li {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        margin-top: 5px; }
      .sidebar ul {
        width: 100vw;
        padding: 0; }
      .sidebar a {
        box-shadow: none;
        border-top: none;
        line-height: initial; }
      .sidebar li.current a {
        box-shadow: none;
        background: none; }
      .sidebar a:active {
        box-shadow: none;
        background: none; }
      .sidebar a:hover {
        padding: 0 45px;
        box-shadow: none;
        background: none; } }

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem; }
  .nav-btn::before, .nav-btn::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block; }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  .nav-btn::after {
    transform: translateY(1.3rem); }
  @media only screen and (max-width: 62.5em) {
    .nav-btn {
      margin-top: 0;
      margin-right: 3rem; }
      .nav-btn::before {
        transform: translateY(-1.2rem); }
      .nav-btn::after {
        transform: translateY(1rem); } }

.band {
  width: 90%;
  max-width: 124rem;
  margin: 0 auto;
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 30px; }

@media only screen and (min-width: 500px) and (max-width: 62.5em) {
  .band {
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1; }
  .item-1 {
    grid-column: 1/ span 2; }
  .item-1 h1 {
    font-size: 30px; } }

@media only screen and (min-width: 62.5em) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 2/-1; } }

/* card */
.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in; }

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); }

.card article {
  padding: 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column; }

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center; }

.card p {
  flex: 1;
  /* make p grow to fill available space*/
  line-height: 1.4; }

/* typography */
h1 {
  font-size: 20px;
  margin: 0;
  color: #333; }

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0; }
